header {
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: white url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    flex-shrink: 0;
}

header div#api_status{
    border-radius: 40px;
    float: right;
    padding: 20px;
    margin-top: 15px;
    margin-right: 30px;
    border: 1px solid #cccccc;
    background-color: #CCCCCC;
    text-align: center;
}

.available{
    background-color: #ff545f!important;
}
